.c-filter__box {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
}

.c-filter__box_row {
  flex-direction: column;
  align-items: flex-start;
  row-gap: 8px;
}

.c-filter__offert-input {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
}

.c-filter__select {
  font-size: 14px;
  text-transform: lowercase;
  max-width: 250px;
  padding: 10px 16px;
  outline: none;
  border-radius: 8px;
  border: none;
  background: $c-gray-5;
}

.c-filter__group-pill {
  width: 100%;
  display: flex;
  align-items: stretch;
  column-gap: 8px;
  overflow: auto;
}

.c-filter__group-pill-causal {
  flex-wrap: wrap;
  gap: 8px;

  .c-filter__pill {
    min-width: 180px;
    max-width: 180px;
  }
}

.c-filter__pill {
  position: relative;
  min-width: 130px;
  max-width: 130px;
  position: relative;
  text-align: center;
  font-size: 12px;
  font-weight: 700;
  color: #DAE9F2;

  label {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #DAE9F2;
    border-radius: 50px;
    padding: 4px 8px;
    transition: all 0.2s ease-in-out;
    height: 100%;
  }

  input {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;

    &:checked+label {
      background-color: $c-info;
    }
  }
}
