<div class="c-ranking">
  
  <header class="c-ranking__header">
    <h2 class="c-ranking__title o-heading">Calificación Semanal</h2>
    <button class="o-link">Reporte de calificaciones</button>
  </header>

  <div class="c-ranking__bar">
    <!-- 007 Radial progress bar scss object -->
    <div
      class="o-radial-progress-bar o-radial-progress-bar_center"
      style="background: radial-gradient(closest-side, #FFF 79%, transparent 80% 100%), conic-gradient(#FFF 75%, #ffffff82 0);"
    >
      <span class="is-visuallyHidden">Barra de progreso circular</span>
    </div>
  </div>
  
</div>
