<ion-content [fullscreen]="true">
  <section class="o-main">
    <div class="o-canvas">

      <app-back-button></app-back-button>

      <div class="o-headline-media">
        <figure class="o-headline-media__figure">
          <img src="assets/imgs/brand/logo_color.svg" alt="Logo Surtilider de colores azul y rojo">
        </figure>
        <header class="o-headline">
          <h1 class="o-heading">Actualizar contraseña</h1>
        </header>
      </div>

      <!-- UPDATE PASSWORD FORM -->
      <form class="o-form" (ngSubmit)="sendFormToUpdate()" [formGroup]="formUpdatePassword">

        <!-- Password field -->
        <div class="o-form__field">
          <div class="o-form__field-wrap">
            <input
              id="newPassword"
              formControlName="newPassword"
              class="o-form__input"
              type="password"
              placeholder="*******"
            >
            <label for="newPassword" class="o-form__label">
              <button
                title="cambiar contraseña"
                type="button"
                class="o-form__label-ico i-eye"
                (click)="this._authService.passwordChange($event)"
              ></button>
            </label>
          </div>
          <span class="o-form__error">{{ getErrorField('newPassword')}}</span>
        </div>

        <footer class="o-form__actions">

          <div class="o-form__actions-box">
            <button
              type="submit"
              class="o-button"
              [disabled]="formUpdatePassword.invalid"
            >
              Actualizar
            </button>
          </div>

        </footer>

      </form>

    </div>
  </section>
</ion-content>
