.o-taggit {
  position: absolute;
  top: -10px;
  left: 0;
  margin-left: 135px;
  border-radius: 4px;
  padding: 2px 8px;
  font-size: 10px;
  font-weight: $f-bold;
  color: $c-primary;
  background-color: #e5ebf2;
}