.o-button,
.o-link {
  font-family: $f-title;
}

.o-button,
.o-link,
.o-button-ico {
  transition: 300ms;

  &:hover {
    transform: scale(0.95);
  }
}

.o-button {
  display: inline-block;
  width: 100%;
  min-width: 320px;
  max-width: 320px;
  border-radius: 8px;
  border: none;
  padding: 24px 16px;
  text-align: center;
  text-decoration: none;
  color: $c-neutro;
  background-color: $c-primary;
  box-shadow: $shadow-10;
  cursor: pointer;

  &:hover {
    box-shadow: none;
  }

  &.is-hidden {
    display: none;
  }

  &:active,
  &:focus {
    border: 1px solid $c-primary;
    color: $c-primary;
    box-shadow: $shadow-10;
    transform: scale(1);
    background-color: $c-neutro;
  }

  &:disabled {
    opacity: .5;
    cursor: none;
    pointer-events: none;
  }
}

.o-button_secondary {
  background-color: $c-secondary;

  &:active,
  &:focus {
    color: $c-secondary;
    border-color: $c-secondary;
  }
}

.o-button_outline {
  border: 1px solid $c-primary;
  color: $c-primary;
  background-color: transparent;

  &:active,
  &:focus {
    color: $c-neutro;
    background-color: $c-primary;
  }
}

.o-button_full {
  min-width: 100%;
}

.o-button-ico {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  min-width: 32px;
  min-height: 32px;
  border-radius: 50%;
  border: 1px solid;
  color: $c-primary;
  cursor: pointer;
  text-decoration: none;
}

.o-link {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  color: $c-text;
  background-color: transparent;
  border: none;
  text-decoration-color: $c-text;

  &::after {
    position: relative;
    top: 1px;
    margin-left: 8px;
  }

  &:disabled {
    pointer-events: none;
    color: $c-gray-20 !important;
  }

  &::before {
    margin-right: 8px;
  }
}

.o-link_secondary {
  color: $c-secondary;
}

.o-link_primary {
  color: $c-primary;
}

.o-link_underline {
  text-decoration: underline;
  text-underline-offset: 8px;
}

.o-float-btn {
  border-radius: 50%;
  background-color: $c-neutro;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.18);
  width: 56px;
  height: 56px;
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 24px;
  display: flex;
  color: #013D7E;
  align-items: center;
  justify-content: center;
  z-index: 100000;

  &::before {
    position: relative;
    z-index: 10000;
    font-size: 24px;
    color: #013D7E;
  }

  &::after {
    content: "";
    position: absolute;
    top: auto;
    left: auto;
    right: auto;
    bottom: auto;
    background: rgba(1, 61, 126, 0.2);
    width: 46px;
    height: 46px;
    border-radius: 50%;
    display: block;
  }
}


ion-fab-button::part(native) {
  width: 46px;
  height: 46px;
  color: $c-primary;
  background: rgba($c-primary, 0.2);
  box-shadow: none;
}

.o-float-btn_secondary {
  &:before {
    color: $c-secondary;
  }
  &::after {
    background: rgba($c-secondary, 0.2);
  }
}

.o-float-btn_top-adjust {
  bottom: 62px;
}

ion-fab-button::part(native):hover::after {
  background-color: #06235d;
}

ion-fab-button::part(native):active::after {
  background-color: #06235d;
}