$c-neutro: #fff;

$c-success: #57D78F;

$c-primary-10: #C6E1FF;
$c-primary-20: #3A93DF;
$c-primary: #013D7E;

$c-secondary: #FF0000;

$c-text: #383838;
$c-text-10: #898888;

$c-gray: #B1B1B1;

$c-gray-disabled: #B0B0B0;

$c-gray-disabled-10: #E9E9E9;

$c-gray-5: #F5F5F5;
$c-gray-20: #D7D7D7;
$c-gray-25: #C9C9C9;

$c-info: #5199F0;

$c-gold: #FFCE42;
$c-gold-60: #C79237;