$font-family-ico: "ico-surtiventas-app" !default;

$i-graph-box: "\e900";
$i-arrow-down: "\e901";
$i-arrow-left: "\e902";
$i-arrow-right: "\e903";
$i-calendar: "\e904";
$i-car: "\e905";
$i-cart_zero: "\e906";
$i-catalog: "\e907";
$i-change_rut: "\e908";
$i-check-circle: "\e909";
$i-close: "\e90a";
$i-credential: "\e90b";
$i-crown: "\e90c";
$i-devolution: "\e90d";
$i-disk: "\e90e";
$i-eye-lock: "\e90f";
$i-eye: "\e910";
$i-filter: "\e911";
$i-help: "\e912";
$i-history-outline: "\e913";
$i-home: "\e916";
$i-info: "\e917";
$i-logout: "\e918";
$i-menu: "\e919";
$i-pencil: "\e91a";
$i-plus: "\e91b";
$i-prize: "\e91c";
$i-route-outline: "\e91d";
$i-search: "\e91e";
$i-star: "\e91f";
$i-store: "\e920";
$i-user: "\e921";
$i-vehicle-truck-cube: "\e922";
$i-visit: "\e923";
$i-work-history-outline: "\e924";
$i-sorter-az: "\e914";
$i-sorter-za: "\e915";
$i-discount: "\e925";
