<ion-content [fullscreen]="true">

  <div class="o-layout-page-small">

    <div class="o-canvas">
      <header class="o-headline" style="margin-top: 80px;">
        <h1 class="o-heading">
          Aplicaciónes para incentivos
        </h1>
        <span style="font-size: 18px;">Ingresa a las siguientes aplicaciones para obtener mas información</span>
      </header>
    </div>

    <div class="o-canvas button-incentivos-wrap">

      <a class="button-incentivos" target="_blank"
        href="https://play.google.com/store/apps/details?id=com.amdp.easyfiel">
        Aplicación de C10
      </a>

      <a class="button-incentivos" target="_blank" href=" https://planpremios.co/">
        Aplicación Plan Premios
      </a>

    </div>
  </div>

</ion-content>