<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>home-page</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <a class="o-button" [routerLink]="['/auth/login']" routerLinkActive="router-link-active">
    This is a button
  </a>

  <header class="o-headline">
    <h1 class="o-heading">¡Bienvenido de nuevo! 👋</h1>
    <p class="o-text">Ingresa tus credenciales para iniciar sesión.</p>
  </header>

  <header class="o-headline o-headline_center">
    <h1 class="o-heading">¡Bienvenido de nuevo! 👋</h1>
    <p class="o-text">Ingresa tus credenciales para iniciar sesión.</p>
  </header>

  <header class="o-headline">
    <p class="o-text">Buenos dias,</p>
    <h1 class="o-heading">Julian Bonilla 😄</h1>
  </header>

  <header class="o-headline">
    <h1 class="o-heading">Dashboard</h1>
  </header>

</ion-content>