<ion-content class="o-background-bottom">
  <main class="o-main">
    <div
      class="o-canvas">

      <!-- Header back -->
      <app-back-button></app-back-button>

      <section
        class="o-section">

        <!-- Welcome header -->
        <header class="o-headline">
          <h1 class="o-heading">Recuperar contraseña</h1>
          <p class="o-text">
            Enviaremos un código de confirmación a tu correo electrónico.
          </p>
        </header>

        <form
          class="o-form" [formGroup]="validateCredentialForm">

          <!-- Credential STEP -->
          <fieldset
            class="o-form__fieldset" *ngIf="!stepOne">

            <!-- Input credential -->
            <div class="o-form__field">
              <div class="o-form__field-wrap">
                <input id="credential" class="o-form__input" type="number" placeholder="Identificación" formControlName="credential">
                <label for="credential" class="o-form__label i-credential"></label>
              </div>
              <span class="o-form__error">{{ getError('credential')}}</span>
            </div>

            <footer class="o-form__actions">
              <button class="o-button" (click)="validateUserCredential()">Enviar código</button>
            </footer>

          </fieldset>

          <!-- Code and email STEP -->
          <fieldset
            class="o-form__fieldset" *ngIf="stepOne">

            <!-- Input email -->
            <div class="o-form__field">
              <div class="o-form__field-wrap">
                <input id="email" class="o-form__input" type="email" placeholder="Correo electronico" formControlName="email">
                <label for="email" class="o-form__label i-credential"></label>
              </div>
              <span class="o-form__error">{{ getError('email')}}</span>
            </div>

            <!-- Security code -->
            <div class="o-form__field">
              <app-security-code></app-security-code>
            </div>

            <footer class="o-form__actions">
              <button class="o-button" (click)="validateSecurityCode()" [ngClass]="{'is-disabled': !isTimerStop}">
                Validar código
              </button>
            </footer>

          </fieldset>

        </form>

      </section>
      
    </div>
  </main>
</ion-content>
