@import '../../../../../assets/styles/settings/settings';


.c-footer {
  position: absolute;
  top: auto;
  bottom: 0;
  width: 100%;
  border-top: 1px solid $c-gray-20;
  padding: 8px;
  background-color: $c-neutro;
  z-index: 10000;
}


.c-footer__navigation {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: none;
  text-align: center;
  background: $c-neutro;
}

.c-footer__link {
  position: relative;
  font-size: 24px;
  text-decoration: none;
  color: $c-gray-20;
  background: $c-neutro;
  transition: all 0.2s ease-in;

  &::after,
  &::before {
    transition: all 0.2s ease-in;
  }

  &.is-active {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $c-neutro;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      width: 60px;
      height: 60px;
      border-radius: 50%;
      border-bottom: 0;
      background: $c-neutro;
      filter: drop-shadow(0px 4px 7px rgba(0, 0, 0, 0.06));
    };

    &::before {
      position: relative;
      top: -13px;
      font-size: 32px;
      z-index: 10;
      color: $c-primary;
    };
  }
}
.c-footer__link-bg {
  overflow: visible !important;
  visibility: visible !important;

  &::after {
    transition: all 0.2s ease-in;
  }

  .is-active & {
    &::before {
      content: "";
      position: absolute;
      top: -8px;
      bottom: 0;
      left: -32px;
      width: 90px;
      height: 50px;
      background: $c-neutro;
      z-index: 5;
    }

    &::after {
      content: "";
      position: absolute;
      top: -25px;
      right: 0;
      bottom: 0;
      left: -12px;
      width: 56px;
      height: 56px;
      border-radius: 50%;
      background-color: rgba($color: $c-primary, $alpha: 0.1);
      z-index: 8;
    }
  }
}

.c-alert__form {
  position: relative;
  padding: 16px 16px 0;

  &::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 1px;
    background: #F4F4F4;
    left: 44px;
  }
}

.c-alert__form-input {
  display: flex;
  align-items: center;
  max-width: 314px;
  position: relative;
  margin: 0 auto 16px;

  input {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
  }

  input:checked+label {

    &::before {
      background-color: $c-success;
    }

    .box {
      color: $c-neutro;
      background-color: $c-success;
    }
  }

  label {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      margin: auto;
      width: 24px;
      height: 24px;
      z-index: 1000000;
      border-radius: 50px;
      background: #F4F4F4;
      transition: all 0.2s ease-in;
    }

    &::after {
      content: "";
      position: absolute;
      left: 4px;
      top: 0;
      bottom: 0;
      margin: auto;
      width: 16px;
      height: 16px;
      z-index: 1000000;
      border-radius: 50px;
      background: #fff;
    }

    .box {
      min-width: 260px;
      box-shadow: -1px 1px 9px rgb(0 0 0 / 6%);
      border-radius: 8px;
      padding: 10px 16px;
      margin-left: 40px;
      transition: all 0.2s ease-in;
    }

    span {
      display: block;
      font-family: $f-title;
    }
  }
}
