<ion-content>
  <div class="o-layout-page-small">

    <div class="o-canvas">

      <figure class="o-message o-message_confirm">
        <img src="assets/imgs/utils/order_confirm.png" alt="">
        <figcaption class="o-message__caption">¡Excelente! Hemos confirmado tu pedido con exito!</figcaption>
      </figure>

      <header class="o-headline">
        <h1 class="o-heading">Número pedido: <span style="font-size: 18px;">#{{ orderId }}</span></h1>
      </header>

      <!-- Status components -->
      <div class="c-status">

        <div class="c-status__current">
          <span class="c-status__ico i-check-circle"></span>
          <header>
            <div>
              <p class="c-status__text">PEDIDO CONFIRMADO</p>
              <p class="c-status__date">Estamos confirmando tu pedido</p>
            </div>
          </header>
        </div>

        <!-- <ul class="c-status__list is-{{ order.status }}"> -->
        <ul class="c-status__list is-PEDIDO">
          <li class="c-status__item">
            <span class="c-status__ico i-check-circle"></span>
            <p class="c-status__text">CONFIRMADO</p>
          </li>
          <li class="c-status__item">
            <span class="c-status__ico i-check-circle"></span>
            <p class="c-status__text">EN PREPARACIÓN</p>
          </li>
          <li class="c-status__item">
            <span class="c-status__ico i-check-circle"></span>
            <p class="c-status__text">EN DESPACHO</p>
          </li>
          <li class="c-status__item">
            <span class="c-status__ico i-check-circle"></span>
            <p class="c-status__text">EN REPARTO</p>
          </li>
          <li class="c-status__item">
            <span class="c-status__ico i-check-circle"></span>
            <p class="c-status__text">ENTREGADO</p>
          </li>
        </ul>

        <button class="c-status__btn i-arrow-down" (click)="toggleDropdownProduct($event)"></button>

      </div>

      <ul class="o-checkout">

        <!-- Order detail -->
        <li class="o-checkout__item">

          <h3 class="o-checkout__title">RESUMEN DE TU PEDIDO</h3>

          <div class="o-checkout__column">

            <p class="o-checkout__txt">{{ productsCount }} productos</p>

            <p class="o-checkout__txt">$ {{ productsTotalValue | number:'1.0-0':'es-CO'  }} COP</p>

          </div>

          <div class="o-checkout__dropdown">

           <button class="
                o-link o-link_secondary
                i-arrow-down
              " (click)="toggleDropdown($event)">
              DETALLE PRODUCTOS
            </button>

            <div>
              <div class="o-checkout__products">

                <article class="c-product-horizontal" *ngFor="let product of orderProducts">

                  <figure class="c-product-horizontal__figure">
                    <img class="c-product-horizontal__img o-img" src="{{ product.img_prod }}" alt="">
                    <figcaption class="c-product-horizontal__caption">
                      <p class="c-product-horizontal__title">{{ product.nameProduct }}</p>
                      <p class="c-product-horizontal__amount-wrap">Cantidad:
                        <span class="c-product-horizontal__amount">
                          {{ product.cantidadCart }}
                        </span>
                      </p>
                      <p class="c-product-horizontal__amount-wrap">
                        Precio Unit: ${{ product.totalValue }} COP
                      </p>
                    </figcaption>
                  </figure>

                  <div class="c-product-horizontal__price">
                    <span class="c-product__amount">${{ product.calculateValue | number:'1.0-0':'es-CO' }} COP</span>

                    <div
                      *ngIf="product.porcDescuento !== '0.00' && product.porcDescuento !== '0'"
                      class="c-product__ico c-product__ico_discount i-star"
                    >
                      <span class="c-product__ico_discount-txt">{{ product.porcDescuento }}%</span>
                      <span class="c-product__ico-txt">${{ product.precioSinDcto }} cop</span>
                    </div>
                  </div>

                </article>

              </div>
            </div>

          </div>

        </li>

        <!-- Address Data -->
        <!-- <li class="o-checkout__item">

          <h3 class="o-checkout__title">DIRECCIÓN DEL ENVIO</h3>

          <p class="o-checkout__txt">
            <strong class="o-checkout__txt_bold">{{ order.customerName }}</strong>
          </p>
          <p class="o-checkout__txt">{{ order.address }}</p>
          <p class="o-checkout__txt">{{ order.phone }}</p>

        </li> -->

        <!-- Date -->
        <li class="o-checkout__item">

          <h3 class="o-checkout__title">PEDIDO REALIZADO EL</h3>

          <p class="o-checkout__txt">{{ obtenerFechaFormateada() }}</p>

        </li>

        <!-- Payment method -->
        <li class="o-checkout__item">

          <h3 class="o-checkout__title">MEDIO DE PAGO</h3>

          <p class="o-checkout__txt">EFECTIVO</p>

        </li>

      </ul>

      <button
        (click)="resetCart()"
        class="o-checkout__btn o-button o-button_full"
      >
        Ir al Rutero
      </button>

    </div>

  </div>
</ion-content>
